.filter_and_pay_container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px 20px;

	.filter_and_search_wrapper {
		display: flex;
		position: relative;
		flex: 0.5;

		.filter_and_dialog_wrapper {
			margin: 0 20px 0 0;
			border: 1px solid #c6c2de;
			border-radius: 6px;

			&.open {
				border: 1px solid #6d5bd0;
				box-shadow: 0px 0px 3px 0px #6d5bd0;
			}

			&:hover {
				border: 1px solid #6d5bd0;
				transition: border 300ms;
			}

			.filter_container {
				display: flex;
				border-radius: 6px;
				padding: 10px;
				background: #fff;
				align-items: center;
				cursor: pointer;
				transition: border 300ms, transform 500ms;

				&:active {
					transform: scale(0.96);
					transition: transform 200ms;
				}

				.filter_text {
					@include typography(16px, 400, 19.36px);
					margin-left: 10px;
				}
			}

			.filter_dialog_container {
				position: absolute;
				top: calc(var(--top-offset, 42px) + 5px);
				left: 0px;
				background: #fff;
				z-index: 1000;
				padding: 24px 18px;
				box-shadow: 0px 5px 8px 0px #00000033;
				border: 1px solid #c6c2de;
				border-radius: 6px;

				.sort_by_container {
					border-bottom: 1px solid #f2f0f9;
					margin-bottom: 5px;
				}

				.filter_title {
					@include typography(12px, 400, 14.52px, left, #6e6893);
					padding: 5px 10px;
					letter-spacing: 0.05em;
				}

				.filter_item {
					display: flex;
					justify-content: space-between;
					gap: 90px;
					padding: 10px 10px;
					border-radius: 4px;
					cursor: pointer;

					&:hover {
						background: #f2f0f9;
					}
				}
			}
		}

		.search_container {
			display: flex;
			position: relative;
			width: 100%;
			border-radius: 6px;

			&:hover {
				border: 1px solid #6d5bd0;
			}

			.search_input {
				padding: 10px 0 10px 40px;
				border: none;
				border-radius: 6px;
				background: #f4f2ff;
				text-overflow: ellipsis;
				transition: border 200ms;
				max-width: 392px;
				width: 100%;
				outline: 0px;
				border: 0px;

				&:focus,
				&:focus-visible {
					border: 0.2px solid #6d5bd0;
				}
			}

			.search_icon {
				position: absolute;
				left: 10px;
				top: 50%;
				left: 10px;
				transform: translateY(-50%);
			}
		}
	}

	.pay_dues_wrapper {
		.pay_dues_btn {
			@include typography(16px, 600, 19.36px, left, #fff);
			text-transform: uppercase;
			border-radius: 6px;
			background: #6d5bd0;
			padding: 10px;
			outline: none;
			border: none;
			cursor: pointer;
			transition: transform 400ms;

			&:disabled,
			&[disabled] {
				cursor: not-allowed;
			}

			&:not(:disabled):hover {
				transform: scale(1.05);
				transition: transform 400ms;
			}
		}
	}
}
