// TEXT COLORS
$clr-font-inactive: #6e6893;
$clr-font-unpaid: #ce8500;
$clr-font-overdue: #d30000;
$clr-font-active: #4a4aff;
$clr-font-paid: #007f00;
$clr-font-primary: #25213b;

// BACKGROUND COLORS
$clr-bg-primary: #ffffff;
$clr-bg-unpaid: #ffeccc;
$clr-bg-overdue: #ffe0e0;
$clr-bg-inactive: #e6e6f2;
$clr-bg-paid: #cdffcd;
$clr-bg-active: #e6e6f2;
